<h2 mat-dialog-title>{{ 'common.delete' | translate }} {{ data.type }}</h2>
<mat-dialog-content>
  <p>{{ 'dialog.deleteConfirmPrefix' | translate }} <strong>{{ data.name || ('#' + data.id) }}</strong>?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="cancel-button" (click)="close(false)">{{ 'common.cancel' | translate }}</button>
  <button mat-flat-button class="delete-button" (click)="close(true)">{{ 'common.delete' | translate }}</button>
</mat-dialog-actions>
