<h2 mat-dialog-title>{{ 'availability.addSchedule' | translate }}</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12 m-b-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ 'common.date' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="scheduledDate" [min]="minDate" required readonly />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls.scheduledDate.invalid">{{ 'availability.validation.dateRequired' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 m-b-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ 'availability.startTime' | translate }}</mat-label>
          <input matInput type="time" formControlName="startTime" required />
          <mat-error *ngIf="form.controls.startTime.invalid">{{ 'availability.validation.startRequired' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 m-b-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ 'availability.endTime' | translate }}</mat-label>
          <input matInput type="time" formControlName="endTime" required />
          <mat-error *ngIf="form.controls.endTime.invalid">{{ 'availability.validation.endRequired' | translate }}</mat-error>
          <mat-error *ngIf="form.get('endTime')?.hasError('endBeforeStart')">{{ 'availability.validation.endBeforeStart' | translate }}</mat-error>
          <mat-error *ngIf="form.get('endTime')?.hasError('lessThan30')">{{ 'availability.validation.minimumDuration' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">{{ 'common.cancel' | translate }}</button>
    <button mat-flat-button color="primary" class="text-white" type="submit" [disabled]="form.invalid">
      {{ 'availability.saveSchedule' | translate }}
    </button>
  </mat-dialog-actions>
</form>
